@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Raleway:wght@400;700;800&display=swap');
/* Regras gerais para o site  todo*/


/* Alterando o Box Model CSS para evitar dificuldades com dimensões
(largura, altura, bordas e espaçamento)  */
* {box-sizing: border-box;}   

/* Tamanho de letra padrão do site */
html {font-size: 14px;}

/* resertandos as tags em questão */
body, h1, h2, p, figure, .menu {
    margin: 0;
    padding: 0;
}

/* Tornando as imanges flexíveis  */
img {max-width: 100%;}

/* REGRAS PARA O BODY */
body {
    font-family: 'Noto Sans', Verdana, Arial, sans-serif;

    /* Importante declarar mesmo que seja branco, já que o padrão é transparente 
    (pode causar inconsistencias quando exibido em aparelhos com modo noturno ativado */
    background-color: white;
    /* Solução Rodapé Etapa 1 */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* Solução Rodapé Etapa 2  */
main {flex: 1;}

a {text-decoration: none;}

/* REGRAS PARA O CABEÇALHO */

h1 a{
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-transform: uppercase;
}

h1 {
    /* Google Fonts */
    font-family: Raleway, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}



header {
    /* Tornando o cabeçalho fixo ao rolar a pagina */
    z-index: 100;
    position: sticky;
    top: 0;

    background-color: white;
}

/* Para deixar o menu lado a lado */
header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}


/* Crie uma regra usando o seletor "nav h2 a" com: 
cor de texto preta, tamanho de fonte de 1.2rem
espaçamento interno de 1rem, display como inline-block */

/* Crie uma regra para que ao passar o mouse nos links
"Menu ≡", Home, Produtos, Serviços e Contato, a cor
de fundo mude para um tom de cinza qualquer.
 */

nav h2 a {
    color: black;
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}



nav  a:hover, nav a:focus{
    background-color: gray;
}



/* Crie uma regra para remover os marcadores da lista
com a classe chamada "menu". */
.menu {
    list-style: none;
    display: none;
}

/* Crie uma regra para os links da lista menu com: cor de texto preta, negrito, flex alinhado ao centro totalmente, altura de 50px.  */
.menu a {
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
   
}

/* ATENÇÃO: a regra abaixo só irá funcionaer com auxilio da programação Javascript

Objetivo: quando duas classes estiverem combinadas, o menu será exibido completamente
*/

.menu.aberto{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
}



/* DESTAQUE */

.destaque {
    background-image: url(../imagens/fundo-destaque.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.destaque h2, .destaque p {
    color: white;
    text-align: center;
}

.destaque h2 {
    /* Função clamp()  utiliza valor minimo, desejavel/flexivel,  e valor maximo*/
    font-size: clamp(3rem, 10vw, 6rem);
    font-family:  Releway, sans-serif;
    font-weight: 800;
    animation-name: animaDestaque;
    animation-duration: 2s;
}

.destaque p {
    font-size: clamp(1.5rem, 3vw, 2.4rem);
    /* font-size: 1.2rem; */
    font-weight: bold;
    animation-name: animaDestaque;
    animation-duration: 2s;
    animation-delay: 1s;
    /* Faz a animação começar no inicio */
    animation-fill-mode: backwards;

    /* animation-timing-function: ease-in; */
}


/* Etapa 1: Criar a regra */
@keyframes animaDestaque {
    /* Como começa */
    from { 
        opacity: 0;
        transform: translateY(-1000px);
    }

    /* Como termina */
    to { opacity: 1; }
}




article h2 {
    padding: 1rem;
    font-family: Raleway;
    color: #6b6b6b;
    font-size: 1.8rem;
}

article p, article address {
    padding: 0.5rem 0;
    font-size: 1.3rem;
}

/* Remover itálico do address */
article address {font-style: normal;}


/* Alinhando a conteúdo ao centro (h2, p, address, video, mapa) Somente dos artigos com classes indicados a baixo */
.front-end, .historia, .localizacao, footer {text-align: center;}


.historia {
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.historia h2 {
    color: white;
    text-shadow: black 2px 2px 2px ;
}


.historia iframe {
    width: 100%;
    max-width: 700px;
    margin-bottom: 2rem;
}


.localizacao iframe {
    width: 100%;
    margin-top: 2rem;
}


.front-end figure {
    /* margin: 2rem auto; */
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.limitador {
    width: 95vw;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    height: 10vh;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* REGRAS PARA PAGINAS INTERNAS  */

.conteudo {
    background-color: #e1e1e1;
    padding: 0.5rem;
    border-radius: 8px;
}



/* REGRAS PARA A PAGINA PROTUDO */

.conteudo h2 {
    padding-left: 0;
    text-align: center;
}

table, th, td {
    border: solid 2px black;

    /* Remove espaçamento entre as bordas */
    border-collapse: collapse;
}

table {
    margin: auto;
    width: 80%;
    max-width: 600px;
}

caption {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

th {
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
}


td {
    padding: 10px;
    font-size: 1rem;
}

/* Produtos */
td:first-child { text-transform: uppercase;}

/* Prazo */
td:nth-child(2) { text-align: center;}

/* Valor */
td:last-child {
    font-size: bold;
    text-align: right;
}

/* Linhas  (even) */
tr:nth-child(even) { background-color: gray;}


/* Outras linhas (odd) */
tr:nth-child(odd) { background-color: white;}


.galeria-servicos {
    text-align: center;
}

.galeria-servicos img {
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.397) 0 0 50px;
    transform: scale(0.8); 
    filter: grayscale(100%);
    transition: 2s;
}
 


.galeria-servicos img:hover {
    filter: none;
    transform: scale(1.1);
    cursor: pointer;
}


/* REGRAS PARA ELEMENTOS DE FORMULÁRIO */


form {
    width: 100%;
    margin: auto;
    padding: 0.5rem;
    border-radius: 8px;
}

form div { margin-top: 1.2rem;}

input:not([type=radio], [type=checkbox]), select, textarea { 
    border: none;
    padding: 8px;
    width: 100%;
    box-shadow: darkgray 0 0 5px;
    height: 40px;
    font-size: 1.1rem;
}

textarea { 
    height: auto;
    max-height: 400px;
    max-width: 100%;
    min-width: 30%;
    min-height: 200px;}

label {font-size: 1.2rem;}

button {
    border: none;
    padding: 1rem;
    background-color: black;
    color: white;
    font-weight: bold;
}

button:hover, button:focus {
    cursor: pointer;
    background-color: #3d3c3c;
}



/* REGRAS CONDICIONAIS/MEDIA QUERIES */

@media screen and (min-width: 530px) {
    /* Esconder a palavra menu e deixar lado a lado */

    nav h2 {display: none;}

    .menu {
        display: flex;
        text-transform: uppercase; 
        /* justify-content: space-between;
        align-items: center;    */
    }
    

    nav {width: 70%;}

    /* Ao devolver o tamanho de 100% para cada <li> na pratica isso criará um espaçamento no texto/link */
    .menu li { width: 100%;}




}


@media screen and (min-width: 1000px) {
    html { font-size: 16px;}
    .limitador {max-width: 1000px;}
}